
@font-face {
    font-family: rymfont;
    src: url(./Rick-and-Morty-Font/get_schwifty.ttf);
}

body {
    background-image: url(./3.jpg);
    background-size: auto;
    background-attachment: fixed;
}

#container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.padre {
    padding: 4%;
}

h5 {
    font-family: rymfont !important;
    color: #12b0c8;
    text-shadow: 1px 1px 2px #89a944;
    margin: 2% 0 2% 0 !important;
}

.Dead {
    background-color: #FF1E00;
}

.Alive {
    background-color: #6ECB63;
}

.unknown {
    background-color: gainsboro;
}

.Human {
    background-color: #3AB0FF;
}

.Alien {
    background-color: #FEB139;
}

.status {
    margin: 17% 0%;
}

.status,
.species {
    position: absolute;
    left: 6px;
    top: 1px;
}

img {
    height: 40vh;
}

.buttons {
    background-color: #2b0dd4;
    color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration:dotted;
    display: inline-block;
    font-size: 1.2em;
    margin: 1%;
    cursor: pointer;
    border-radius: 7px;
    box-shadow: 2px 5px 9px rgb(3, 2, 77)
}

/* -------------- */

/* button up */

#btnScrollTop {
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 50px;
    height: 50px;
    background-color: #2B4865;
    border: 1px solid #fff;
    border-radius: 50px;
    box-shadow: #6ECB63;
    cursor: pointer;
}