/*h2{
    display: flex;
    border: 1px solid black;
    height: 50%;
    background-color: #14E3B5;
    align-items: center;
    justify-content: center;
}*/

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.users {
    background-color: rgb(243, 236, 172); 
    text-align: center;
    width: 20%;
    margin: 1.3rem;
    padding: 2rem;
    border-radius: 5%;
    box-shadow: 2px 5px 9px gray;
}

.title{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    text-transform: uppercase;
}